@model IEnumerable<SalesSystem.System.MVC.Models.ViewModels.SalesRecordViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="panel panel-body">
    <p>
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        <a asp-controller="SalesRecords" asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-primary">Edit</a> 
                        <a asp-controller="SalesRecords" asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-info">Details</a> 
                        <a asp-controller="SalesRecords" asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


